<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new shelter:</p>
  <input type='text' name='shelter[name]'/><br/>
  <textarea name='shelter[address]'></textarea><br/>
  <textarea name='shelter[city]'></textarea><br/>
  <textarea name='shelter[state]'></textarea><br/>
  <textarea name='shelter[zip]'></textarea><br/>
  <input type='submit' value="Create Shelter" />
</form>


